<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}CS 143 Twitter Clone ☆*: .｡. o(≧▽≦)o .｡.:*☆{% endblock %}</title>
</head>
<body>
  <header>
    <nav>
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('search') }}">Search</a>
      {% if session.get("user_id") %}
        <a href="{{ url_for('create_message') }}">Create Message</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('create_account') }}">Create Account</a>
      {% endif %}
    </nav>
    <hr>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
